.mealList {
    margin-left: 15px;
}

.mealList h1 {
    height: 38px;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--foreground);
    margin: 0;
}